Source: vyatta-radius
Section: contrib/net
Priority: extra
Maintainer: Anyfi Networks <eng@anyfinetwork.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 5), autotools-dev, autoconf

Package: vyatta-radius
Architecture: all
Depends: vyatta-cfg-system,
 vyatta-cfg,
 vyatta-op,
 hostapd,
 lighttpd,
 liblinux-inotify2-perl,
 libfile-touch-perl,
 libnet-cidr-perl,
 libnet-radius-perl,
 libdigest-hmac-perl,
 libjson-perl,
 libformat-human-bytes-perl,
 php5-cgi,
 ${misc:Depends}
Replaces: vyatta-radius
Description: Vyatta CLI for hostapd as RADIUS server
 Vyatta CLI integration for hostapd as a standalone RADIUS server,
 providing EAP authentication methods such as EAP-PEAP and EAP-SIM.
